# Reference: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# By default we assume that the novu-devs should review most changes
# Removed for now until consensus is made by the team
# @novuhq/novu-devs
